body {
  background-color: #000000;
}

/***** Navigation *****/
#nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding-top: 10px;
}
#nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#nav .container .brand img {
  height: 20px;
  width: auto;
}
#nav .container button {
  background-color: red;
  border-color: red;
  height: 30px;
  width: 60px;
}

#header {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
#header .bg-img {
  background-image: url("/image/bg-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
#header .bg-shadow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.3) 60%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
#header .main {
  z-index: 2;
}
#header .main .register {
  display: flex;
  flex-direction: column;
}
#header .main .register .title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 0;
}
#header .main .register .sub-title {
  color: #ffffff;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
#header .main .register .wrapper p {
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}
#header .main .register .wrapper .wrapper {
  display: flex;
  justify-content: center;
  padding: 0;
}
#header .main .register .wrapper .wrapper .email {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.452);
  border: 1px solid #adb5bd;
  border-radius: 5px;
  height: 40px;
  padding: 0.5em;
  color: #ffffff;
  width: 400px;
}
#header .main .register .wrapper .wrapper button {
  color: white;
  font-size: 1.5em;
  height: 40px;
  width: 200px;
  background-color: red;
  padding: 0 0.5em;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}

/***** Main Section Start *****/
main .feature {
  height: 600px;
  border-top: #252525 solid 5px;
  padding: 50px 0;
  box-sizing: border-box;
  overflow: hidden;
}
main .feature .container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main .feature .container .text {
  width: 50%;
}
main .feature .container .text h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}
main .feature .container .text p {
  color: white;
  font-size: 1.5rem;
}
main .feature .container .box-container {
  width: 50%;
  overflow: hidden;
}
main .feature .container .box-container .box {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
}
main .feature .container .box-container .box video {
  position: absolute;
  top: 15%;
  left: 13%;
  width: 75%;
  margin: auto;
}
main .feature .container .box-container .box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
main .feature.third {
  height: 300px !important;
}

/***** Main Section Section *****/
@media screen and (max-width: 500px) {
  #header .main .register .wrapper .wrapper {
    flex-direction: column;
    align-items: center;
  }
  #header .main .register .wrapper .wrapper .email {
    height: 50px;
  }
  #header .main .register .wrapper .wrapper button {
    height: 50px;
    margin-left: 0px;
    margin-top: 10px;
  }
}
/***** Media Screen *****/
@media screen and (max-width: 900px) {
  #main .feature .container {
    flex-flow: column;
  }
  #main .feature .container .text {
    width: 100%;
  }
  #main .feature .container .text h1 {
    text-align: center;
  }
  #main .feature .container .text p {
    text-align: center;
  }
  #main .feature .container .box-container {
    width: 100%;
  }
  #main .feature .container .box-container .box {
    width: 500px;
  }
  #main .feature .container .box-container .box video {
    top: 15%;
    left: 13%;
    width: 75%;
  }
  #main .feature .container .box-container .box img {
    width: 100%;
  }
  #main .feature.second .box-container, #main .feature.forth .box-container {
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */