@import "variable.scss";



body {
    background-color: $black;

}
/***** Navigation *****/
#nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    padding-top: 10px;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand{
            img{
                height: 20px;
                width: auto;
            }
        }
        
        button{
            background-color: $red;
            border-color: $red;
            height: 30px;
            width: 60px;
        }
    }
}



#header {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .bg-img {
        background-image: url('/image/bg-1.jpg') ;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .bg-shadow {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8),
                                        rgba(0, 0, 0, 0) 30%,
                                        rgba(0, 0, 0, 0.3) 60%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        
    }

    .main {
        z-index: 2;

        .title {
            color: $color-text;
            font: $font-style-header;
            text-align: center;
            margin: 0;
        }

        .sub-title {
            color: $color-text;
            font: $font-style-normal;
            text-align: center;
            margin: 0;
        }

        .register {
            form {
                .header {
                    font: $font-style-normal;
                    color: $color-text;
                    text-align: center;
                    padding: 5px;
                }

                .row {
                    justify-content: center;

                    .form-floating {
                        width: 500px;
                    }
                    .form-control {
                        height: 60px;
                    }
    
                    button {
                        height: 60px;
                        width: 150px;
                        background-color: $red;
                        border: none;
                        font: $font-style-normal;
                    }
                }
                
            }
        }
    }
}


/***** Main Section Start *****/
main {
    .feature {
        height: 600px;
        border-top: $section_border;
        padding: 50px 0;
        box-sizing: border-box;
        overflow: hidden;

        .container {
            display: flex;
            flex-direction: row;
            align-items: center;

            .text {
                width: 50%;
                
                h1 {
                    color: $color-text;
                    font: $font-style-header;

                }

                p {
                    color: $color-text;
                    font: $font-style-normal;
                }
            }

            .box-container {
                width: 50%;
                overflow: hidden;

                .box {
                    position: relative;
                    width: 500px;
                    height: 500px;
                    margin: auto;

                    video {
                        position: absolute;
                        top: 15%;
                        left: 13%;
                        width: 75%;
                        margin: auto;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        margin: auto;
                    }
                }
            }

        }

        &.third {
            height: 300px !important;
        }
    }

    // FAQ Section Start
    .faq {
        border-top: $section_border;
        padding: 50px 0;
        box-sizing: border-box;
        overflow: hidden;

        .faq-header {
            h1{
                color: $color-text ;
                font: $font-style-header;
                text-align: center;
                padding: 1rem 0;
            }

        }

        .accordion-item {
            border: none;
            margin: 5px 0;
            background-color: $black !important;

            .accordion-button {
                background-color: $gray;
                color: $color-text;
                font: $font-style-normal;
                box-shadow: none !important;
                padding: 25px;

                &:hover {
                    background-color: $light-gray;
                }

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
                }
                &:not(.collapsed)::after {
                    transform: rotate(45deg);
                }
            }

            .accordion-body {
                background-color: $light-gray;
                color: $color-text;
                font: $font-style-normal;
                margin-top: 2px;
            }

        }

        .register {
            form {
                .header {
                    font-size: 1.5rem;
                    color: $white;
                    text-align: center;
                    padding: 5px;
                }

                .row {
                    justify-content: center;

                    .form-floating {
                        width: 500px;
                    }
                    .form-control {
                        height: 60px;
                    }
    
                    button {
                        height: 60px;
                        width: 150px;
                        background-color: $red;
                        border: none;
                        font-size: 1.5rem;
                    }
                }

                
            }
        }
    }
    // FAQ Section End
}
/***** Main Section End *****/



/***** Footer Section Start *****/
#footer {
    border-top: $section_border;

    .container {
        // padding: 20px 0;
        padding-top: 20px;
        padding-bottom: 20px;
        font: $font-style-small;
        color: $color-text;
        ul {
            list-style: none;
        }
        a {
            color: inherit;
        }
        
        .footer-header {

        }

        .footer-body {

        }

        .footer-footer {
            button {
                background-color: $black-900;
            }
        }
    }
}
/***** Footer Section End *****/



/***** Media Screen *****/
@media  screen and (max-width:1024px) {
    #main {
        .feature {
            .container {
                // flex-direction: column;
                flex-flow: column;

                .text {
                    width: 100%;
                    h1 {
                        text-align: center;
                    }

                    p {
                        text-align: center;
                    }
                }
                .box-container {
                    width: 100%;

                    .box {
                        width: 500px;

                        video {
                            top: 15%;
                            left: 13%;
                            width: 75%;
                        }

                        img {
                            width: 100%;
                        }
                    }
                }

            }
            
            &.second, &.forth {

                .box-container {
                    order: 2;
                }
            }

        }

        

    }

    #header, #main {
        .faq {
            .register {
                form {
                    .row {
                        flex-direction: column;
                        align-items: center;

                        .form-control {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    
}