@import "variable.scss";



body {
    background-color: $black;

}

/***** Navigation Section Start *****/
#nav{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    box-sizing: border-box;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand{
            img{
                height: 20px;
                width: auto;
            }
        }
        
        button{
            background-color: $red;
            border-color: $red;
            height: 30px;
            width: 60px;
        }
    }
}
/***** Navigation Section End *****/



/***** Header Section Start *****/
#header {
    min-height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    .bg-img {
        background-image: url('/image/bg-1.jpg') ;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .bg-shadow {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }

    .main {
        z-index: 2;
        padding-top: 70px;
        padding-bottom: 70px;

        .title {
            color: $color-text;
            font: $font-style-header;
            text-align: center;
            margin: 0;
        }

        .sub-title {
            color: $color-text;
            font: $font-style-normal;
            text-align: center;
            margin: 0;
        }
    }
}

.email-register {
    .header {
        font: $font-style-normal;
        color: $color-text;
        text-align: center;
        padding: 5px;
    }

    .wrapper {
        display: flex;
        justify-content: center;

        .input-floating {
            max-width: 400px;
            height: 40px;
            flex-grow: 1;

            input {
                height: 40px;
                width: 100%;
                background-color: $tranparent-500;
                border: $input-border;
                border-radius: .2rem;
                color: $color-text;
                padding: .5rem;
                box-sizing: border-box;

                &::placeholder {
                    color: $color-text;
                }
            }
        }

        button {
            height: 40px;
            // width: 150px;
            background-color: $red;
            border: $button-border;
            font: $font-style-normal;
            border-radius: .2rem;
            margin-left: 5px;
            margin-right: 5px;
            box-sizing: border-box;
            color: $color-text;
        }
    }
}
/***** Header Section End *****/



/***** Main Section Start *****/
#main {
    // Feature Section Start
    .feature {
        .feature-item {
            border-top: $section_border;
            padding: 50px 0;

            .container {
                display: flex;
                flex-direction: row;
                align-items: center;

                .text {
                    width: 50%;
                    
                    h1 {
                        color: $color-text;
                        font: $font-style-header;
                    }
    
                    p {
                        color: $color-text;
                        font: $font-style-normal;
                    }
                }
    
                .figure {
                    width: 50%;
                    overflow: hidden;
    
                    .wrapper {
                        position: relative;
                        margin: auto;
    
                        video {
                            position: absolute;
                            top: 20%;
                            left: 13%;
                            width: 75%;
                            margin: auto;
                        }
    
                        img {
                            width: 100%;
                            margin: auto;
                        }
                    }
                }
            }
            
            &:nth-child(even){
                .text {
                    order: 1;
                }
            }
        }

        &.third {
            height: 300px !important;
        }
    }
    // Feature Section End

    // FAQ Section Start
    .faq {
        border-top: $section_border;
        padding: 50px 0;
        box-sizing: border-box;
        overflow: hidden;

        .faq-header {
            h1{
                color: $color-text ;
                font: $font-style-header;
                text-align: center;
                padding: 1rem 0;
            }
        }

        .accordion-item {
            border: none;
            margin: 5px 0;
            background-color: $black !important;

            .accordion-button {
                background-color: $gray;
                color: $color-text;
                font: $font-style-normal;
                box-shadow: none !important;
                padding: 25px;

                &:hover {
                    background-color: $light-gray;
                }

                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
                }

                &:not(.collapsed)::after {
                    transform: rotate(45deg);
                }
            }

            .accordion-body {
                background-color: $light-gray;
                color: $color-text;
                font: $font-style-normal;
                margin-top: 2px;
            }
        }
    }
    // FAQ Section End
}
/***** Main Section End *****/



/***** Footer Section Start *****/
#footer {
    border-top: $section_border;

    .container {
        padding-top: 20px;
        padding-bottom: 20px;

        ul {
            list-style: none;
        }

        a {
            color: inherit;
        }
        
        .footer-header {
            font: $font-style-small;
            color: $color-text;
        }

        .footer-body {
            font: $font-style-small;
            color: $color-text;
        }

        .footer-footer {
            font: $font-style-small;
            color: $color-text;
            button {
                background-color: $black-900;
            }
        }
    }
}
/***** Footer Section End *****/



/***** Media Screen *****/
@media  screen and (max-width:1024px) {
    #main {
        .feature {
            .feature-item {
                .container {
                    flex-direction: column;
                
                    .text {
                        width: 100%;
                        order: 1;
                        text-align: center;
                    }

                    .figure {
                        width: 70%;
                        order: 2;
                    }
                }
            }
        }
    }


    .email-register {
            .wrapper {
                flex-direction: column;
                align-items: center;

                .input-floating {
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
    }
}

@media screen and (max-width:768px) {
    h1 {
        font: 700 2.5rem "arial" !important;
    }

    p, span {
        font: 400 1.2rem "arial" !important;
    }
}