$color-primary: #e50914;
$color-secondary: #ffffff;
$color-dark-1: #000;
$color-dark-2: #2d2d2d;
$color-dark-3: #414141;
$color-dark-4: #aaaaaa;
$color-stylish: #00FF47;
$bg-transparent-1: rgba(0, 0, 0, .5);

// font-family: 'Roboto', sans-serif;
$font-md: 400 1.5rem "Roboto", "sans-serif";
$font-sm: 400 1rem/1.5rem "Roboto", "sans-serif"; 
$font-lg: 900 3rem "Roboto", "sans-serif";

$section_border: $color-dark-2 solid 5px;

