$black-900: #000;
$black-700: #2d2d2d;
$black-500: #414141;
$light-gray: #414141;
$gray: #2d2d2d;
$white: #ffffff;
$black: #000000;
$red: #ff0000;
$tranparent: #0000004f;
$section_border: #252525 solid 5px;
$color-text: #fff;
$color-bg: #000;
$font-style-normal: 400 1.5rem "arial";
$font-style-small: 400 1rem/1.5rem "arial";
$font-style-header: 900 3rem "arial";
$fs-2: 400 1.5rem "arial";
$fs-4: 900 3rem "arial";
